<div class="row">
    <div class="col-sm-8 col-md-offset-2">
        <ul id="resultArea"></ul>
    </div>
</div>
@section scripts{ 
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/collection/",
            dataType: "json",
            success: function (result) {
                var output = "";
                $.each(result, function (index, item) {
                    output = index + ' ' + item;
                    $("ul#resultArea").append($("<ul id=" + index + ">"))

                    $.each(item, function (subindex, ActorName) {
                        if (subindex == "Name") { //Display Actor name
                            $("ul#" + index).append("<li id='ActorName" + index + "'>" + ActorName)
                        } else {    //Display role details
                            $("li#ActorName" + index).append("<ul id='role" + index + "'>")
                            $.each(ActorName, function (innerIndex, innerItem) {
                                $("ul#role" + index).append("<li>" + innerItem["Name"] + "</li>")

                            })
                            $("li#ActorName" + index).append("</ul>")

                        }
                        $("ul#" + index).append("</li>")
                    })
                });

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    });

    </script>
}
